
    .custom-card {
        position: relative;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px #2196F3;
        border: 1px solid #2196F3;
        transition: transform 0.2s;
        margin-bottom: 10px;
    }

    .custom-icon {
        position: absolute;
        top: -5px;
        left: -5px;
        background-color: #2196F3;
        padding: 10px;
        border-radius: 10px;
        color: white;
        font-size: 30px;
        /* Tamaño del ícono */
        width: 50px;
        /* Tamaño del círculo */
        height: 50px;
        /* Tamaño del círculo */
        display: flex;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .custom-number {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
        color: #2196F3;
        font-weight: bold;
    }

    .custom-text {
        margin-top: 50px;
        font-weight: bold;
        text-align: center;
        color: #2196F3;
        font-size: 25px;
    }

    .custom-card:hover {
        transform: scale(1.05);
        /* Efecto hover */
        cursor: pointer;
    }